#studentbody{
    background-color: rgb(89, 186, 89);
    padding: 20px 30px 100px 30px;
}
#studentbody h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
    color: purple;

}
#studentvalidationdiv{
    border: 2px solid whitesmoke;
    margin-inline: 100px;
 background-color: rgba(67, 182, 197, 0.54);
 
}
#studentvalidationdiv  img{
    width: 200px ;
    height: 200px;
    margin-left: 400px;
    border-radius: 50%;
    margin-top: 20px;
}
/* .flexstudent{
    display: flex;
    justify-content: space-between;
     padding-inline: 50px;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 100px;
    font-size: 50px;
    color: purple;
    text-transform: capitalize;
} */
.studbtn{
   
    margin-left: 300px;
    padding: 3px ;
}
.flexstudent label{
    color: black;
}
.editesbtn{
    margin-left: 450px;
    padding: 3px ;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    width: 120px;
    background: purple;
    border: 1px solid #343a40;
    color: #fff;   
}
.studntesbtn{
   margin-left: 20px;
    padding: 3px ;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    width: 120px;
    background: rgb(101, 24, 104);
    border: 1px solid #343a40;
    color: #fff;
}
.flexstudent1{
    display: flex;
    justify-content: space-between;
    margin-inline: 20px;
    color: purple;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    
}
.adressedit{
    border: none;
    border-bottom: 2px solid red;
    color: red;
    background-color: transparent;
    font-size: 20px;
    outline:none
}
.adressedit1{
    border: none;
    background-color: transparent;
    outline: none;


}
.adressedites{
    width: 86%;
    color: red;
    font-size: 18px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid red;
    outline:none
}
.adressedites1{
    font-size: 20px;
    width: 86%;
    border: none;
    background-color: transparent;
    outline: none;
   background-color: transparent;
}